<section class="text-sm space-x-2 flex">
  <div class="flex items-center space-x-1 group underline">
    <a href="/dashboard/products">Products</a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="size-4 font-medium text-transparent -translate-x-full group-hover:translate-x-0 group-hover:text-current transition ease-in-out duration-150"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
    </svg>
  </div>
  <div class="space-x-1 flex items-center group underline">
    <a href="/dashboard/categories">Categories</a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width={1.5}
      stroke="currentColor"
      class="size-4 font-medium text-transparent -translate-x-full group-hover:translate-x-0 group-hover:text-current transition ease-in-out duration-150"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
    </svg>
  </div>
</section>
