---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  active: boolean;
  className?: string;
};

const { active = false, className = "", ...props } = Astro.props;
---

<a
  class:list={[
    className,
    active
      ? "text-blue-500 hover:text-blue-600 border-blue-500 font-medium"
      : "hover:text-gray-800",
  ]}
  {...props}
>
  <slot />
</a>
